#control-center {
  position: absolute;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition:
    0.3s opacity,
    0.3s transform,
    0.3s top;
  padding: 7px;
  top: 35px;
  transform: translate(-50%, 0);
  width: auto;
  border-radius: 0.7rem;
  height: auto;
  background: 0 0;
}

.colum {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.icn {
  width: 37px;
  display: flex;
  background: var(--bg-transparent);
  align-items: center;
  justify-content: center;
  height: 37px;
  border-radius: 10rem;
}

#control-center.show {
  opacity: 1;
  pointer-events: all;
}

.icn svg {
  width: 30px;
  height: 30px;
}

.cc-btn {
  padding: 18px;
  display: flex;
  font-weight: 600;
  backdrop-filter: blur(6px) saturate(100%);
  gap: 0.5rem;
  font-family: Inter;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  box-shadow: var(--glass-effect);
  height: 22px;
  background: var(--transparent);
}
