.dot {
  background: var(--color-text);
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    background-color 0.5s ease;
  transform: translateX(-50%);
  border-radius: 10rem;
}

.item img {
  width: 100%;
  height: 100%;
}
.dot.active {
  opacity: 1;
}
.itens {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.2rem;
  padding: 0 0;
}

.item {
  position: relative;
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom center;
  will-change: width, height;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.tag {
  position: absolute;
  left: 50%;
  white-space: nowrap;
  font-weight: 400;
  bottom: 114px;
  color: var(--color-text);
  backdrop-filter: blur(10px) saturate(150%);
  opacity: 0;
  font-family: "Inter";
  pointer-events: none;
  font-size: 0.8rem;
  transition: all 0.15s ease-out;
  transform: translate(-50%, 0);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.718),
    var(--glass-effect);
  padding: 5px 10px;
  background: var(--bg-transparent);
  border-radius: 3rem;
  will-change: opacity;
}

.dock {
  width: auto;
  background: var(--bg-dock);
  display: flex;
  transition:
    background-color 0.5s ease,
    bottom 0.3s;
  transform-style: preserve-3d;
  align-items: flex-end;
  justify-content: center;
  box-shadow:
    0 0 6px rgba(0, 0, 0, 0.58),
    var(--glass-effect);
  height: 66px;
  cursor: var(--cursor);
  position: fixed;
  z-index: 1 !important;
  backdrop-filter: blur(1.5px) saturate(150%);
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%, 0);
  bottom: -10%;
  padding: 7px 8px;
  z-index: 100;
}
#fin-dot {
  opacity: 1;
}

.item:hover .tag {
  opacity: 1;
  backdrop-filter: blur(10px) saturate(120%);
}
