* {
  margin: 0;
  font-family: var(--font);
  outline: 0;
  transition: background 0.3s ease;
  cursor: var(--cursor);
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #000;
  justify-content: center;
}

:root {
  --bg-transparent: #ffffff93;
  --color-text: #000;
  --bg-dock: #ffffff1c;
  --min-glass: inset 0.3px 0.6px 0.8px rgba(238, 238, 238, 0.68);
  --color-accent-red: #ff5c60;
  --transparent: #00000010;
  --color-accent-blue: #017aff;
  --color-accent-yellow: #fac800;
  --color-accent-green: #35c759;
  --select: #d1d1d667;
  --border: #8a8a8a8a;
  --background: #ffffff;
  --cursor: url(../../assets/cursors/normal-select.svg), auto;
  --font: "Inter";
  --glass-effect:
    inset 0 0 1.2px rgba(247, 247, 247, 0.136),
    inset 0 0 12px -4px rgba(255, 255, 255, 0.31),
    inset 0.4px 0.9px 1.1px rgba(253, 253, 253, 0.719);
}

body.light-theme {
  --color-text: #fff;
  --background: #1b1b1b;
  --bg-dock: #0000001c;
  --transparent: #00000010;
  --select: #24242667;
  --bg-transparent: #00000093;
  --glass-effect:
    inset 0 0 1.2px rgba(247, 247, 247, 0.21),
    inset 0 0 12px -4px rgba(255, 255, 255, 0.31),
    inset 0.4px 0.9px 1.1px rgba(253, 253, 253, 0.719);
  --border: #a8a8a8a8;
}

.separator {
  height: 59px;
  width: 0.5px;
  font-size: 0pt;
  margin-bottom: 2px;
  background: var(--bg-transparent);
}

#fin-dot {
  opacity: 1;
}

#desktop {
  position: fixed;
  left: 0;
  bottom: 0;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-image 0.5s ease;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../assets/images/goldengate.webp) no-repeat center fixed;
  background-size: cover;
}

a {
  color: var(--color-accent-blue);
}

.ri-verified-badge-fill {
  color: var(--color-accent-blue);
}

.bottom {
  width: 100%;
  height: 47px;
  border-top: solid 1px var(--border);
  display: flex;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.58);
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.bottom input {
  width: 450px;
  color: var(--color-text);
  padding: 3px;
  height: 26px;
  background: var(--select);
  border-radius: 10rem;
}

@keyframes lev {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(0, 5px);
  }
}

#start-screen {
  position: fixed;
  left: 0;
  cursor: none;
  top: 0;
  width: 100%;
  display: flex;
  transition: opacity 0.3s ease;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  height: 100vh;
  background: #000;
  z-index: 9999;
}

.loading {
  width: 200px;
  position: relative;
  height: 4px;
  background: #333333;
  border-radius: 2rem;
  overflow: hidden;
}

.bar {
  width: 0;
  height: 100%;
  background: #fff;
  animation: loader 5s ease forwards;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes loader {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

#start-screen i {
  font-size: 5.5rem;
  color: #fff;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: var(--background);
  width: 170px;
  height: calc(100% - 45px);
  border-right: solid 1px var(--border);
}

.two-content {
  width: calc(100% - 170px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
  height: calc(100% - 45px);
  position: fixed;
  right: 0;
  border-left: solid 1px var(--border);
  bottom: 0;
  background: var(--background);
}

.toggle {
  background: var(--color-accent-blue);
  padding: 5px 9px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.4rem;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  align-content: center;
  border: none;
  box-shadow: var(--glass-effect);
  border-radius: 0.3rem;
}

.toggle:hover {
  opacity: 0.7;
}

.two-content h1 {
  font-size: 1.7rem;
  font-weight: 600;
}
#clock {
  color: var(--color-text);
}

.note {
  position: fixed;
  left: 3px;
  color: #5b5b5b31;
  bottom: 3px;
}

.menu-item svg {
  height: 17px;
  width: 17px;
  color: var(--color-text);
}

#start-screen svg {
  height: 98px;
  animation: none;
  width: 98px;
  color: #ffff;
}

#open-control:hover {
  background: transparent;
}

.menu-context {
  width: 230px;
  background: var(--bg-transparent);
  height: auto;
  padding: 6px 10px;
  gap: 0.3rem;
  opacity: 0;
  transition-delay: 0.3s;
  pointer-events: none;
  display: flex;
  transition: 0.5s;
  flex-direction: column;
  position: absolute;
  backdrop-filter: blur(20px) saturate(180%);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.58),
    var(--glass-effect);
  left: 0;
  top: 35px;
  border-radius: 0.6rem;
}

.list-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.ri-wifi-fill {
  color: var(--color-text);
}

#menu-context.show {
  opacity: 1;
  pointer-events: all;
}

.sep {
  background: var(--border);
  width: 100%;
  font-size: 0pt;
  height: 0.6px;
}

.sep2 {
  background: var(--border);
  width: 100%;
  font-size: 0pt;
  height: 0.6px;
}

.context-item:hover {
  background: var(--color-accent-blue);
  color: #fff;
}

.context-item {
  padding: 4px 10px;
  border-radius: 0.4rem;
  font-size: 14px;
  display: flex;
  background: transparent;
}

.l2 {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.column-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body.light-theme .menu-item img {
  filter: none;
}

.menu-separator {
  width: 100%;
  font-size: 0;
  height: 0.7px;
  background: var(--border);
}

input,
textarea {
  font-family: Inter;
  border: none;
}

input:focus {
  border: none;
  outline: 0;
}

img {
  pointer-events: none;
}
